/*
 * -- STYLE FOR THE DOC CONTENT --
 *
 */
.content.doc {
  display: flex;
  flex-direction: row;
}

.content.doc main h2:focus,
.content.doc main h3:focus {
  outline: none;
}

/**
 * ASIDE
 */
.content.doc aside {
  width: 300px;
}

.content.doc aside > div {
  position: sticky;
  top: calc(var(--ksr-header-height) + 10px);
  height: 100%;
  max-height: 100vh;
}

.content.doc aside > div > div {
  width:300px;
  height:100%;
}

/**
 * MAIN
 */
 .content.doc main {
  flex-grow: 1;
}

.content.doc main .row {
  display: flex;
  flex-direction: row;
}

.content.doc main .row > div {
  padding: 0 1rem;
}

/**
 * MAIN LEFT COLUMN
 */
.content.doc main .row .leftcol {
  max-width: 75%;
}

.content.doc main .row .leftcol .breadcrumb {
  font-size: 0.8em;
  margin-top: 1em;
}

.content.doc main .row .leftcol .anchor {
  scroll-margin-top: var(--ksr-header-height);
}

/**
 * MAIN RIGHT COLUMN
 */
.content.doc main .row .rightcol {
  font-size: 0.8em;
  width: 25%;
}

.content.doc main .row .rightcol > div {
  position:sticky;
  top:calc(var(--ksr-header-height) + 10px);
}

/**
 * FLEXBOXES VISIBILITY
 * (see app-visibility.css for activation)
 */
.content.doc aside {
  display: none;
}

.content.doc main .row .rightcol {
  display: none;
}



/*
 * -- COLOR THEME --
 *
 */
.content.doc aside > div {
  border-right: var(--ksr-doc-vertical-border);
}

.content.doc main .row .rightcol > div {
  border-left: var(--ksr-doc-vertical-border);
}



/* oOo */
