/*
 * -- HEADER STYLE --
 */
header {
}

/*
 * -- LOGO --
 */
header .logo .pure-menu-heading {
  padding-left: 0
}

/*
 * -- NAV BAR --
 */
header .navbar {
  position: relative;
  min-height: 50px;
  background-color: rgba(255, 255, 255, 0.97);
  border-bottom: 1px solid rgb(220, 220, 220);
  z-index: 5
}
header .navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  border-width: 0 0 1px
}
header .navbar .top.menu .pure-menu-item.active {
  border-bottom: 2px solid rgb(81, 94, 113)
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px */
}

/* oOo */
