/*
 * -- STYLE FOR THE MENUS --
 *
 */
.menu .pure-menu-heading {
  color: inherit;
  text-transform: none
}
.menu .pure-menu-link {
  color: inherit;
  padding: 0
}
.menu .pure-menu-link:hover {
background-color: transparent
}

.menu a:hover {
  text-decoration: none
}

/**
 * MENU ARROW
 */
.pure-menu-children-orient-up:before,
.pure-menu-children-orient-up:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
}

.pure-menu-children-orient-up-left:before {
  top: -14px;
  left: 10px;
  z-index: 2;
}
.pure-menu-children-orient-up-left:after {
  top: -15px;
  left: 10px;
  z-index: 1;
}

.pure-menu-children-orient-up-center:before {
  top: -14px;
  left: calc(50% - 7.5px);
  z-index: 2;
}

.pure-menu-children-orient-up-center:after {
  top: -15px;
  left: calc(50% - 7.5px);
  z-index: 1;
}

.pure-menu-children-orient-up-right:before {
  top: -14px;
  right: 10px;
  z-index: 2;
}

.pure-menu-children-orient-up-right:after {
  top: -15px;
  right: 10px;
  z-index: 1;
}



/*
 * -- COLOR THEME --
 *
 */

/**
 * MENU ARROW
 */
.pure-menu-children-orient-up-left:before,
.pure-menu-children-orient-up-center:before,
.pure-menu-children-orient-up-right:before {
  border-bottom-color: var(--ksr-menu-arrow-border-color-before);
}
.pure-menu-children-orient-up-left:after,
.pure-menu-children-orient-up-center:after,
.pure-menu-children-orient-up-right:after {
  border-bottom-color: var(--ksr-menu-arrow-border-color-after);
}



/* oOo */
