/*
 * -- SIDEMENU BUTTON DEFAULT STYLE --
 */
.sidebutton {
  position: absolute;
  top: 1em;
  left: 100%;
}

.menu-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 30px;
  line-height: 33px;
  cursor: pointer;
  background-color: transparent;
  z-index: 3;
}

.menu-text,
.menu-icon {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: black;
}

.menu-icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 1em;
  width: 25px;
  height: 3px;
  background-color: black;
  border-radius: 5px;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.menu-text {
  position: absolute;
  right: 0;
}

.menu-icon:after, .menu-icon:before {
  display: inline-block;
  position: absolute;
  content: '';
  right: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
}

.menu-icon:before {
  top: -7px;
}

.menu-icon:after {
  top: 7px;
}

.menu-icon.clicked {
  background-color: rgba(255, 255, 255, 0);
}

.menu-icon.clicked:before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.menu-icon.clicked:after {
  top: 0;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}

/* oOo */
