.DS_Store
__trash
_old_*

node_modules

_site-theme-orion/_dist
_site-theme-orion/.orion-plus
_site-theme-orion/img/*
!_site-theme-orion/img/README.md
_site-theme-orion/vendor/*
!_site-theme-orion/vendor/README_HIGHLIGHT.md

_site-theme-code/_dist
_site-theme-code/img/*
!_site-theme-code/img/README.md
_site-theme-code/vendor/highlight/CHANGES.md
_site-theme-code/vendor/highlight/LICENSE
_site-theme-code/vendor/highlight/README.md
_site-theme-code/vendor/highlight/README.ru.md
_site-theme-code/vendor/highlight/styles/*
!_site-theme-code/vendor/highlight/styles/default.css

_site-theme-start/_dist
_site-theme-start/img/*
!_site-theme-start/img/README.md

site

z_*
