.DS_Store
node_modules
_old_*

_site-theme-colorado/_dist
_site-theme-colorado/.colorado-plus
_site-theme-colorado/img
_site-theme-colorado/vendor/*

_site-theme-orion/_dist
_site-theme-orion/.orion-plus
_site-theme-orion/img/*
!_site-theme-orion/img/README.md
_site-theme-orion/vendor/*
!_site-theme-orion/vendor/README_HIGHLIGHT.md

_site-theme-start/_dist

site
