/*
 * -- CONTENT STYLE --
 */

.content {
  padding-top: 0
}

 /* --- Links -- */
.content .plink {
 font-weight: 600;
 color: rgb(173, 31, 35);
 text-decoration: none
}
.content .plink a {
 color: inherit;
 text-decoration: inherit
}
pre code {
  white-space: pre
}

/* --- Contact form -- */
.content .pure-form input[type=text], .content .pure-form textarea[type=text] {
  margin-bottom: 0.5em
}
.content .pure-form .consent {
  padding-bottom: 1em;
}
.content .pure-form .rights {
  font-style: italic;
  font-size: 0.9em;
  padding-top: 1em
}


/*
 * -- FRONT PAGE CONTENT STYLE --
 */
.content .front .page {
  min-height: 700px
}

.content .front .center {
  text-align: center
}
.content .front h1, .content .front h2 {
  font-size: 3.6em;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -1px;
  padding-top: 0.5em;
}
.content .front h3 {
  font-size: 1.5em;
}
.content .front .slogan {
  font-size: 1.5em;
  font-weight: 300;
  text-align: center
}
.content .front .statement {
  font-size: 1.2em
}
.content .front .muted {
  color: rgb(101, 123, 131)
}
.content .front .page hr {
  width: 200px;
  height: 1px;
  border: none;
  margin: 35px auto;
  background: rgb(173, 31, 35)
}
