/*
 * -- STYLE FOR THE APP - VISIBILITY -- 
 *
 */

/**
 * HEADER - MENU AND MENU BUTTON VISIBILIITY
 */
@media (min-width:768px) {
  header .container .top-left-menu,
  header .container .top-right-menu {
    display: block
  }
  header .container .mobilemenu-button {
    display: none
  }
}

/**
 * FOOTER - RIGHT MENU VISIBILIITY
 */
@media (min-width:768px) {
  footer .legal > div:last-child {
    display: block
  }
}

/**
 * DOC - LEFT AND RIGHT MENU VISIBILITY
 */
@media (min-width:768px) {
  .content.doc aside {
    display: block;
  }

  .contents main .row .leftcol {
    max-width: 75%;
  }

  .content.doc main .row .rightcol {
    display: block;
  }
}

/**
 * MOBILEMENU VISIBILITY
 */
@media (min-width: 320px) {
  .mobilemenu {
    left: -60%;
    width: 60%
  }
}

@media (min-width: 768px) {
  .mobilemenu {
    left: -25%;
    width: 25%
  }
}

@media (min-width: 992px) {
}



/*
 * -- COLOR THEME --
 *
 */



/* oOo */
