/*
 * -- MENUS DEFAULT STYLE --
 */
.menu .pure-menu-heading {
  color: inherit;
  text-transform: none
}
.menu .pure-menu-link {
  color: inherit;
  padding: 0
}
.menu .pure-menu-link:hover {
background-color: transparent
}

.menu a:hover {
  text-decoration: none
}


/*
 * -- HEADER TOP MENU STYLE --
 */
header .top.menu {
  font-size: 1em;
  padding-top: 0.5em
}
header .logo .top.menu .pure-menu-heading {
  font-size: 2em;
  padding: 0
}
header .top.menu .pure-menu-list {
  padding-top: 0.3em
}
header .top.left.menu .pure-menu-list {
  padding-left: 2em
}
header .top.right.menu .pure-menu-list {
  float: right
}
header .top.menu .pure-menu-item {
  padding-top: 0.5em;
  margin-left: 1em
}
header .top.menu .pure-menu-link:hover {
  color: rgb(173, 31, 35)
}

/*
 * -- CONTENT MENU STYLE --
 */
.content .menu {
  font-size: 0.9em;
  color: rgb(139, 152, 160);
  white-space: normal
}
.content .menu .pure-menu-heading {
  padding: .5em 0
}
.content .menu .pure-menu-heading .fa {
  color: rgb(173, 31, 35)
}
.content .menu .pure-menu-item {
padding: .25em .5em
}
.content .menu .pure-menu-link:hover {
  color: rgb(173, 31, 35)
}
.content .menu a.pure-menu-link.active {
  border-bottom: 2px solid rgb(173, 31, 35)
}
.content .menu .pure-menu-item .fa {
  display: none
}


/*
 * -- FOOTER BOTTOM MENU STYLE --
 */
footer .legal .pure-menu-heading {
  padding: 0
}
footer .legal .pure-menu-item {
  padding: 0.25em 0.5em
}
footer .legal .pure-menu-item:last-child {
  padding: 0.25em 0 0.25em 0.5em
}
footer .legal .pure-menu-link:hover {
  color: rgb(173, 31, 35)
}
footer .legal p {
  margin: 0;
  padding: 0.3em 0 0 0
}
