/*
 * -- STYLE FOR THE TOP MENU --
 *
 */
header .menu {
  font-size: 0.9em;
  padding-top: 1em
}
header .menu .pure-menu-list {
  padding-top: 0.3em
}
header .menu .pure-menu-list {
  padding-left: 2em
}

header .menu .pure-menu-list > .pure-menu-item {
  margin-left: 1em
}

/**
 * TOP RIGHT MENU
 */
.top-right-menu .menu .pure-menu-list {
  float: right
}

.top-right-menu .menu .pure-menu-children {
  top: 1em;
  left: -50px;
  background: transparent
}

.top-right-menu .menu .pure-menu-children > div {
  position: relative;
  margin-top: 1em
}

.top-right-menu .menu .pure-menu-children > div > div {
  padding: 1em 1em;
  border-radius: 3px
}

.top-right-menu .menu .pure-menu-children .fi {
  margin-right: 1em
}

.top-right-menu .menu .pure-menu-has-children.pure-menu-allow-hover .pure-menu-link:hover {
    background-color: unset
}
.top-right-menu .menu .pure-menu-children .pure-menu-item.pure-menu-disabled .pure-menu-link:hover {
    color: unset;
    text-decoration: none
}

.top-right-menu .menu .pure-menu-children .pure-menu-link {
  /* padding: 0.5em 0.5em */
}



/*
 * -- COLOR THEME --
 *
 */
.top-left-menu .pure-menu-link:hover ,
.top-right-menu .pure-menu-link:hover {
  color: var(--ksr-body-links)
}

.top-right-menu .menu .pure-menu-children > div > div {
  background-color: var(--ksr-menu-dropdown-background-color);
  box-shadow: var(--ksr-menu-dropdown-box-shadow)
}



/* oOo */
