/*
 * -- STYLE FOR THE DOC PAGINATION MENU --
 *
 */
 .doc-content-nav-pagination {
  display: flex;
  flex-direction: row;
}

.doc-content-nav-pagination > div {
  flex: 1;
  border-radius: 3px;
}
.doc-content-nav-pagination > div:first-child {
  margin-right:1em;
}
.doc-content-nav-pagination > div:last-child {
  text-align: right;
  margin-left:1em;
}

.doc-content-nav-pagination > div > a > div {
  padding: 1em;
}

.doc-content-nav-pagination .nav-pagination-hidden {
  visibility: hidden;
}

.doc-content-nav-pagination a > div > div:first-child {
  font-size: 0.9em;
}

.doc-content-nav-pagination a > div > div:last-child {
  font-weight: 600;
}

.doc-content-nav-pagination > div:first-child > a > div > div:last-child::before {
  content: '« '
}

.doc-content-nav-pagination > div:last-child > a > div > div:last-child::after {
  content: ' »'
}



/*
 * -- COLOR THEME --
 *
 */
.doc-content-nav-pagination > div {
  border: var(--ksr-doc-pagination-border)
}

.doc-content-nav-pagination > div:hover {
  border: var(--ksr-doc-pagination-border-hover)
}

.doc-content-nav-pagination a > div > div:first-child {
  color: var(--ksr-body-color);
}



/* oOo */
