/*
 * -- MARKETING STYLE --
 */
.marketing {
  position: relative;
  color: white;
  width: auto;
  height: 100vh;
  margin-top: 50px
}

.marketing.inside {
  height: auto;
  min-height: 1em
}

.marketing .overlay {
  position: absolute;
  width: 100%;
  height:100%;
  background: transparent url(../img/dot.png);
  z-index: 1
}

/* All browsers */
.marketing .background {
  position: absolute;
  width: 100%;
  height:100%;
  background: transparent url(../img/dc_l.jpg) no-repeat 50% 0;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px)
 }

/* Specific Firefox */
.no-cssfilters.svgfilters .marketing .background {
  filter: url(../img/blur.svg#blur)
 }

/* Specific ie9- */
.no-cssfilters.no-svgfilters .marketing .background {
  background: transparent url(../img/dc_blur.jpg) no-repeat 50% 0
}

/* Hack for ie10+ has svgfilter blur does not work! */
.ie .marketing .background {
  background: transparent url(../img/dc_blur.jpg) no-repeat 50% 0
}

.splash {
  position: relative;
  text-align: center;
  padding: 100px 60px 20px 60px;
  z-index: 2
}
.splash h1 {
  font-size: 3em;
  font-weight: 300;
  padding-top: 50px
}
.splash hr {
  width: 100px;
  height: 2px;
  border: none;
  margin: 35px auto;
  background: red
}
.splash .slogan {
  font-size: 1.5em;
  font-weight: 300
}
.splash .down {
  padding-top: 130px
}
.splash .down a {
  font-size: 4em;
  color: white;
  text-decoration: none;
  opacity: 0.3;
  -webkit-transition: opacity 0.3s ease-in-out;
     -moz-transition: opacity 0.3s ease-in-out;
      -ms-transition: opacity 0.3s ease-in-out;
       -o-transition: opacity 0.3s ease-in-out;
          transition: opacity 0.3s ease-in-out;
}
.splash .down a:hover {
  text-decoration: none;
  opacity: 1
}

/*
 * -- MARKETING CUSTOM STYLE --
 */
.marketing .background {
  background: url(/img/dc_l.jpg) 65% 60% no-repeat;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px)
}

.splash .title {
  font-size: 4em;
  font-weight: 300
}
.splash .chart {
  display: inline;
  position: relative
}
.splash .map {
  display: none;
  position: relative
}
.splash .gis {
  display: none;
  position: relative
}
.splash .fin {
  display: inline;
  position: relative
}
.splash .slogan .chart {
  display: inline;
  position: relative
}
.splash .slogan .map {
  display: none;
  position: relative
}
.splash .slogan .gis {
  display: none;
  position: relative
}
.splash .slogan .fin {
  display: none;
  position: relative
}

.splash .get {
  padding-top: 50px
}
.splash h1 {
  font-size: 4em
}
.splash .get a {
  font-size: 1.2em;
  font-weight: 300
}
