/*
 * -- STYLE FOR THEME ICONS --
 *
 */
.theme-color-icons {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.5em;
  line-height: 1.5em;
}
.theme-color-icons:before {
  content: '\00a0';
}

.theme-color-icons-light-sun {
  background-image: url(../img/theme-icons/light-sun.svg);
}

.theme-color-icons-dark-sun {
  background-image: url(../img/theme-icons/dark-sun.svg);
}

.theme-color-icons-light-moon {
  background-image: url(../img/theme-icons/light-moon.svg);
}

.theme-color-icons-dark-moon {
  background-image: url(../img/theme-icons/dark-moon.svg);
}



/*
 * -- COLOR THEME --
 *
 */



/* oOo */
