/*
 * -- STYLE FOR 404 PAGE --
 *
 */
.oops {
  font-size: 1.2em;
  text-align: center
}

.oops h1 {
  font-weight: 400;
  font-size: 4em;
  margin: 0
}

.oops p {
}

.oops hr {
  width: 100px;
  height: 2px;
  border: none;
  margin: 2em auto
}



/*
 * -- COLOR THEME --
 *
 */
.oops {
  color: var(--ksr-body-color)
}



/* oOo */
