/*
 * -- VERTICAL CONTENT MENU STYLE --
 */
.content .menu {
  font-size: 0.9em;
  white-space: normal
}
.content .menu .pure-menu-heading {
  padding: .5em 0
}
.content .menu .pure-menu-heading .fa {
  color: rgb(173, 31, 35)
}
.content .menu .pure-menu-item {
padding: .25em .5em
}
.content .menu .pure-menu-link:hover {
  font-weight: 600
  /* color: rgb(173, 31, 35) */
}
.content .menu a.pure-menu-link.active {
  border-bottom: 2px solid rgb(173, 31, 35)
}
.content .menu .pure-menu-item .fa {
  display: none
}


/*
 * -- LEFT COLUMN STYLE MENU --
 */
.content .left .menu .pure-menu-has-children > .pure-menu-link {
  font-size: 1.5em;
  font-weight: 600;
  padding-top: 1em;
}
.content .left .menu .pure-menu-has-children.pure-menu-only-expanded > .pure-menu-children {
  display: block;
  position: relative;
  left: 0
}
.content .left .menu .pure-menu-has-children.pure-menu-only-expanded > .pure-menu-link::after {
  content: none
}
.content .left .menu .pure-menu-children .pure-menu-item > ul {
  font-size: 0.95em
}

.content .left .menu .pure-menu-has-children.pure-menu-active > .pure-menu-link,
.content .left .menu .pure-menu-has-children.pure-menu-active > .pure-menu-link:after {
  content: '\25BE';
  background-color: transparent
}

.content .left .menu .pure-menu-has-children:hover > .pure-menu-children,
.content .left .menu .pure-menu-active > .pure-menu-children {
  position: relative;
  left: 0
}
.content .left .menu .pure-menu-has-children > .pure-menu-children .pure-menu-active > .pure-menu-link {
  font-weight: 600;
  color: rgb(173, 31, 35);
  background-color: transparent
}


/*
 * -- LEFT COLUMN STYLE MENU FOR NON DOC PAGES --
 */
.content .left .menu .pure-menu-item.pure-menu-active > .pure-menu-link {
  font-weight: 600;
  color: rgb(173, 31, 35);
  background-color: transparent
}
.content .left .menu > .pure-menu-list > .h1.pure-menu-item > .pure-menu-link {
  font-size: 1.5em;
  font-weight: 600;
  padding-top: 1em;
}
.content .left .menu > .pure-menu-list > .h2.pure-menu-item > .pure-menu-link {
  font-weight: 600;
  padding-top: 1em;
}
.content .left .menu > .pure-menu-list > .h3.pure-menu-item > .pure-menu-link,
.content .left .menu > .pure-menu-list > .h4.pure-menu-item > .pure-menu-link,
.content .left .menu > .pure-menu-list > .h5.pure-menu-item > .pure-menu-link {
  font-style: italic;
  padding-left: 0.5em;
}

/* oOo */
